html{
    margin: 0;
}
body{
    background: grey;
    color: whitesmoke
}
span{
    display: block;
}

.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
.button{
    height: 100px;
    width: 100px;
    border: solid whitesmoke 2px ;
    display: inline-block;
}

#aqua{
    background: aqua;
}

#greenyellow{
    background: greenyellow;
}
 
#brown{
    background: brown;
}
 
#pink{
    background: pink;
}
 
#peru{
    background: peru;
}
 
#palevioletred{
    background: palevioletred;
}
 